*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* REGOLE GENERALI PER I BOX */

header {
    display: flex;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 9999;
}

section {
    display: flex;
    width: 100%;
    padding-bottom: 50px;
}

.container_nav {
    display: flex;
    width: 50%;
    height: 80px;
}

#content_nav_end {
    display: flex;
    justify-content: flex-end;
}

.container_section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 800px;
    background-color: #b4d0e6;
}

.container_section_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 1200px;
    background-color:white;
}

.container_section_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 700px;
    background-color: white;
}

.container_section_3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 1800px;
    background-color: white;
}

.footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 700px;
    background-color:black;
    border: 2px solid black;
}


/* REGOLE ITEM DEI BOX */

/* header */
.logo_drop_box {
    display: flex;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: white;
}

.link_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    width: 400px;
    background-color: white;
    gap: 10px;
    font-size: 20px;
}

.link_nav_end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    background-color: white;
    gap: 10px;
    font-size: 20px;
}

#button_nav {
    display: flex;
    width: 150px;
    background-color: white;
    position: relative;
}

.login {
    width: 40%;
    height: 40px;
    background-color: #0162ff;
    color: white;
    border: none;
    font-size: 18px;
    position: absolute;
    top: 25%;
    left: 2%;
}

.link_nav a {
    text-decoration: none;
    position: relative;
}

.link_nav_end a {
    text-decoration: none;
    position: relative;
}

.link_nav a:hover {
    padding-bottom: 20px;
    color: lightslategray;
    border-bottom: 2px solid lightslategray;
}

.link_nav_end a:hover {
    padding-bottom: 20px;
    color: lightslategray;
    border-bottom: 2px solid lightslategray;
}

/* jumbotron */
.jumbotron {
    position: absolute;
}

button {
    cursor: pointer;
}

#harrow {
    cursor: pointer;
    

}


.jumbotron_title {
    display: flex;
    flex-wrap: wrap;
    max-width: 60%;
    background-color: #b4d0e6;
    top: 30px;
    word-wrap: break-word;
}

h1 {
    font-size: 80px;
    margin-top: 50px;
}

.jumbotron_text {

    width: 20%;
    background-color: #b4d0e6;
    left: 20%;
    margin-top: 300px;
}

.jumbotron_img {
    max-width: 1000px;
    position: relative;
    left: 310px;  
    margin-top: 400px;  
}

p {
    font-size: 20px;
}

span {
    font-size: 20px;
}

#harrow {
    font-size: 80px;
    margin-top: 130px;
}

#jumbotron_button{
    height: 40px;
    width: 220px;
    font-size: 20px;
    margin-top: 40px;
    color: white;
    background-color: #0162ff;
    border: none;
    margin-bottom: 20px;
}

#jumbo {
   max-width: 100%;
   height: auto;
}



/* section_1 */
#section_line {
    position: absolute;
    top: 20px;
    width: 100%;
    border: 1px solid gray;
}

.title_h2 {
    width: 40%;
    height: 100px;
    background-color: white;
    left: 14%;
    position: absolute;
    top: 40px;
}

h2 {
    font-size: 60px;
}

.check_me {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 30%;
    height: 50px;
    background-color: white;
    position: absolute;
    left: 14%;
    top: 200px;
}

.blue_circle {
    appearance: none;
    font-size: 20px;
    width: 20px;
    height: 20px;
    border: 5px solid white; 
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    transition: background-color 0.3s, border-color 0.3s;
}

.blue_circle:checked {
    border: 5px solid blue; 
}

.subscription {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
}

.proposte_subscription {
    width: 28.5%;
    height: 600px;
    background-color: white;
    margin-right: 25px;
    border: 2px solid black;
    position: relative;
}

.proposte_subscription_row {
    display: flex;
    justify-content: center;
    height: 20%;
    width: 71%;
    background-color: white;
    position: absolute;
    bottom: 50px;
    margin-right: 20px;
    border: 2px solid black;
}

.line {
    position: absolute;
    width: 100%;
    border: 1px solid black;
    top: 50px;
}

.line_row {
    position: absolute;
    margin-top: 50px;
    border: 1px solid black;
    width: 100%;
}

.title_subscription {
    margin-left: 160px;
    margin-top: 10px ;
}

h3 {
    font-size: 28px;
}

.subscription_text {
    margin-left: 10px;
    margin-top: 30px;
}

.span_costi {
    margin-bottom: 10px;
}

.ul_subscription {
    margin-top: 30px;
    list-style: none;
    font-size: 20px;
}

.ul_subscription li {
    margin-bottom: 10px;
}

.subscription_button {
    margin-top: 30px;
    margin-left: 80px;
    padding: 10px;
    font-size: 20px;
    color: white;
    background-color: #0162ff;
    border:none;
}

.subscription_link {
    margin-top: 20px;
}

.mini_line {
    border: 1px solid grey;
    width: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h5 {
    font-size: 20px;
    margin-bottom: 20px;
}

.footer_span {
    color: #0162ff;
}

.title_subscription_row {
    margin-top: 10px;
}

.subscription_text_row {
    width: 100%;
    position: absolute;
    left: 0;
    margin-top: 100px;
    left: 30px;
}


#span_office {
    margin-top: 10px;
}

#office {
    margin-top: 20px;
}

#office_button {
    position: absolute;
    font-size: 20px;
    top: 0px;
    right: 60px;
    color: white;
    background-color: #0162ff;
    border: none;
    padding: 10px;
}


/* section_2 */

.text_box {
    width: 30%;
    height: 500px;
    background-color: white;
    right: 18%;
    position: absolute;
}

.img_text_section {
    margin-top: 30px;
    margin-bottom: 30px;
}

#text_button_class {
    font-size: 20px;
    padding: 5px;
}

.figure {
    width: 35%;
    background-color: white;
    left: 14%;
    position: absolute;
}

#figure_img_section {
    max-width: 100%;
}


/* section_3 */

.tool_box {
    display: flex;
    justify-content: space-between;
    width: 70%;
    background-color: white;
}

.strumenti {
    width: 33%;
    height: 550px;
    background-color: white;
    margin: 1px;
}

#title_pre_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 30%;
    background-color: white;
    position: absolute;
    left: 15%;
    bottom: 100px;
}

#our_client {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 20%;
    background-color: white;
    position: absolute;
    left: 10%;
    bottom: 40px;
}

.grid_img {
    max-width: 100%;
    
}

/* footer */

.footer_list {
    height: 500px;
    width: 15%;
    background-color: black;
    margin: 2px;
}

.footer_title {
    color: white;
    font-size: 24px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.ul {
    color: white;
    font-size: 19px;
    margin-left: 10px;
    list-style: none;
}

.ul li {
    margin-bottom: 30px;
    cursor: pointer;
}

#footer_line {
    height: 2px;
    width: 350px;
    position: absolute;
    left: 12%;
    background-color: white;
    bottom: 60px;
}

#selettore_lingua {
    height: 50px;
    width: 10%;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
    left: 12%;
    cursor: pointer;
}

li {
    display: flex;
    justify-content: flex-start;
    
}

li .fa-solid {
    margin-right: 10px;

}