* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* REGOLE GENERALI PER I BOX */

header {
    display: flex;
    width: 100%;
}

section {
    display: flex;
    width: 100%;
    padding-bottom: 100px;
}

.container_nav {
    display: flex;
    width: 50%;
    background-color: red;
    border: 2px solid black;
    height: 80px;
}

#content_nav_end {
    display: flex;
    justify-content: flex-end;
}

.container_section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 700px;
    background-color: chartreuse;
    border: 2px solid black;
}

.container_section_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 1200px;
    background-color:darkseagreen;
    border: 2px solid black;
}

.container_section_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 700px;
    background-color: violet;
    border: 2px solid black;
}

.container_section_3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 1800px;
    background-color: rgb(243, 58, 58);
    border: 2px solid black;
}


/* REGOLE ITEM DEI BOX */

/* header */
.logo_drop_box {
    width: 200px;
    height: 100%;
    background-color: blue;
}

.link_nav {
    width: 400px;
    height: 100%;
    background-color: aquamarine;
}

#button_nav {
    width: 200px;
    height: 100%;
    background-color: blueviolet;
}

/* jumbotron */
.jumbotron {
    position: absolute;
}

.jumbotron_title {
    width: 60%;
    height: 100px;
    background-color: chocolate;
    top: 30px;
}

.jumbotron_text {
    width: 30%;
    height: 500px;
    background-color: darkgoldenrod;
    left: 20%;
    margin-top: 100px;
}

.jumbotron_img {
    width: 30%;
    height: 500px;
    background-color: darkolivegreen;
    right: 20%;
    margin-top: 100px;
}

/* section_1 */
.title_h2 {
    width: 40%;
    height: 100px;
    background-color: aqua;
    position: absolute;
    top: 40px;
}

.check_me {
    width: 30%;
    height: 50px;
    background-color: yellow;
    position: absolute;
    left: 30%;
    top: 200px;
}

.subscription {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    position: relative;
}

.proposte_subscription {
    width: 15%;
    height: 600px;
    background-color: darkmagenta;
    margin-right: 25px;
    border: 2px solid black;
    position: relative;
}

.proposte_subscription_row {
    height: 15%;
    width: 60%;
    background-color: tomato;
    position: absolute;
    bottom: 100px;
    left: 25%;
    border: 2px solid black;
}

/* .line {
    width: 100%;
    height: 10px solid black;
    margin-top: 100px;
} */


/* section_2 */

.text_box {
    width: 18%;
    height: 500px;
    background-color: orange;
    right: 22%;
    position: absolute;
}

.figure {
    width: 25%;
    height: 500px;
    background-color: teal;
    left: 30%;
    position: absolute;
}


/* section_3 */

.tool_box {
    display: flex;
    width: 40%;
    background-color: white;
}

.strumenti {
    width: 33%;
    height: 550px;
    background-color: steelblue;
    margin: 1px;
}

#title_pre_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 20%;
    background-color: royalblue;
    position: absolute;
    left: 30%;
    bottom: 100px;
}

#our_client {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 20%;
    background-color: rgb(6, 240, 92);
    position: absolute;
    left: 30%;
    bottom: 40px;
}